<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.learning.mapper.CertificateMapper">

	<resultMap id="BaseResultMap" type="com.kc.learning.model.entity.Certificate">
		<id property="id" column="id" jdbcType="BIGINT"/>
		<result property="certificateNumber" column="certificateNumber" jdbcType="VARCHAR"/>
		<result property="certificateName" column="certificateName" jdbcType="VARCHAR"/>
		<result property="certificateType" column="certificateType" jdbcType="TINYINT"/>
		<result property="certificateYear" column="certificateYear" jdbcType="VARCHAR"/>
		<result property="certificateSituation" column="certificateSituation" jdbcType="INTEGER"/>
		<result property="reviewStatus" column="reviewStatus" jdbcType="INTEGER"/>
		<result property="reviewMessage" column="reviewMessage" jdbcType="VARCHAR"/>
		<result property="reviewTime" column="createTime" jdbcType="TIMESTAMP"/>
		<result property="reviewerId" column="reviewerId" jdbcType="BIGINT"/>
		<result property="userId" column="userId" jdbcType="BIGINT"/>
		<result property="gainUserId" column="gainUserId" jdbcType="BIGINT"/>
		<result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
		<result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="Base_Column_List">
		id
		,certificateNumber
		,certificateName,certificateType,userId, certificateYear,gainUserId,
		reviewStatus, reviewMessage, reviewerId, reviewTime,certificateSituation,
        createTime,updateTime,isDelete
	</sql>

	<!-- 获取打印证书信息 -->
	<select id="getCertificatePrintData" resultType="com.kc.learning.model.vo.certificate.CertificatePrintVO">
		SELECT us.userName         AS userName,
		       us.userIdCard       AS userIdCard,
		       us.userGender       AS userGender,
		       c.certificateNumber AS certificateNumber,
		       co.courseName       AS courseName,
		       co.acquisitionTime  AS acquisitionTime,
		       co.finishTime       AS finishTime
		FROM user_course uc
			     JOIN
		     user us ON uc.userId = us.id
			     JOIN
		     course co ON uc.courseId = co.id
			     JOIN
		     certificate c ON c.gainUserId = us.id
		WHERE uc.id = #{query.userCourseId}
		  AND c.id = #{query.certificateId}
		  AND uc.userId = c.gainUserId
		  AND co.userId = uc.userId;
	</select>

	<!-- 分页获取打印证书信息 -->
	<select id="getCertificatePrintDataByPage"
	        resultType="com.kc.learning.model.vo.certificate.CertificatePrintVO">
		SELECT us.userName         AS userName,
		       us.userIdCard       AS userIdCard,
		       us.userGender       AS userGender,
		       c.certificateNumber AS certificateNumber,
		       co.courseName       AS courseName,
		       co.acquisitionTime  AS acquisitionTime,
		       co.finishTime       AS finishTime
		FROM user_course uc
			     JOIN
		     user us ON uc.userId = us.id
			     JOIN
		     course co ON uc.courseId = co.id
			     JOIN
		     certificate c ON c.gainUserId = us.id
		WHERE uc.id = #{query.userCourseId}
		  AND c.id = #{query.certificateId}
		  AND uc.userId = c.gainUserId
		  AND co.userId = uc.userId;

	</select>
</mapper>
